# Ignorar carpetas Movil y web
Movil/
web/

# Ignorar el entorno virtual de Python
myenv/

# Ignorar archivos generados por el sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de IDEs y editores
.vscode/
.idea/

# Ignorar archivos de compilación
__pycache__/
*.py[cod]

# Ignorar archivos de log
*.log

# Ignorar archivos de base de datos de sqlite
*.sqlite3

# Ignorar archivos de entorno
.env
